/* line 4, ../sass/style.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI4My4zMzMzMyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Yzc2YTciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 300, color-stop(83.33333%, #000000), color-stop(100%, #4c76a7));
  background-image: -moz-linear-gradient(top, #000000 250px, #4c76a7 300px);
  background-image: -webkit-linear-gradient(top, #000000 250px, #4c76a7 300px);
  background-image: linear-gradient(to bottom, #000000 250px, #4c76a7 300px);
}

/* line 9, ../sass/style.scss */
h2 {
  color: #51b82a;
  text-shadow: 2px 2px 5px #000;
}

/* line 13, ../sass/style.scss */
.admin-menu {
  color: #a6a7bb;
  background-color: #000;
}

/* line 17, ../sass/style.scss */
.pane-content {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #51b82a;
  padding: 10px;
  background-color: #d7dbcd;
  color: #000000;
}

/* line 26, ../sass/style.scss */
.footer {
  background-color: black;
}
/* line 28, ../sass/style.scss */
.footer h3 {
  color: #a6a7bb;
}

/* line 33, ../sass/style.scss */
.no-bg .pane-content {
  background-color: transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  padding: 0px;
}
