$menu-text-color: rgba(166, 167, 187, 1);
$menu-back-color: #000;
$headline-color: rgba(81, 184, 42, 1);
$top-grad-color: #000;
$bottom-grad-color: rgba(80,81,98,1);
$grad-start: 250px;
$grad-end: 650px;
$background-color: rgba(215, 219, 205, 1);
$border-color: rgba(81, 184, 42, 1);
$footer-back-color: rgba(0, 0, 0, 1);
$footer-text-color: rgba(166, 167, 187, 1);